.index
  .slide.background-planet
    .center
      .cta
        h1 The latest sounds from your campus
        .cta-buttons
          a.button(href='/explore') Explore our Catalog
          a.button.inverted(href='/join') Contribute your Music
    .bar
      span Listen to college content radio, a 24 hour student run, ultra-curated beat station -
      a.lightblue(href='/radio') listen now
  .center.latest-tracks
    h4 Latest Tracks
    .tracks#loadsongs(data-count='4')
