header{
  height:50px;
  margin:20px 0px;
  font-size: 18px;

  position: absolute;
  width: 100%;


  .center{
    display: flex;
    justify-content: space-between;
  }

  nav{
    > a {
      margin: 0px 15px;
      font-size: 15px;
    }

    .button-small{
        display: inline-block;
    }
  }

}
